html,
body {
 height: 100%;
 width: 100%;
 margin: 0;
 background-color:azure;
}

#container {
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

#calc {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 1rem;
 border: 2px solid whitesmoke;
 padding: 2rem;
 background-color: forestgreen;
}

#calc input {
 grid-column-start: 1;
 grid-column-end: 5;
 text-align: right;
}

#calc button input {
 padding: 0.5rem;
}

#add,
#sub,
#mul,
#div,
#eql {
 grid-column-start: 4;
}

#add {
 grid-row-start: 2;
}

#sub {
 grid-row-start: 3;
}

#mul {
 grid-row-start: 4;
}

#div {
 grid-row-start: 5;
}

#eql {
 grid-row-start: 6;
}